.header {
    background-color: var(--inputs);
    border-bottom: 1px solid var(--badges);
}

.inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 28px 0;
}

/* ===== Logo ===== */
.logo {
    margin-left: 64px;
    display: inline-flex;
    align-items: center;
    line-height: 0;
}

.logoIcon {
    width: 136px;
    height: 16px;
    display: block;
    --logo-travel: var(--main);
        --logo-trucks: var(--text);
}

/* ===== Navigation ===== */
.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 32px;
}

.link {
    font-size: 16px;
    font-weight: 500;
        line-height: 150%;
    color: var(--main);
}

.active {
    color: var(--button-hover);
}