.section {
    margin-top: 60px;
}

.tabs {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid var(--gray-light);
    margin-bottom: 44px;
}

.tabBtn {
    position: relative;
    padding: 0 0 24px 0;
    background: transparent;
    border: none;
    cursor: pointer;

    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--main);
}

.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: var(--button);
    border-radius: 2px;
}

.layout {
    display: grid;
    grid-template-columns: 631px 641px;
    gap: 40px;
    align-items: start;
}

.panel {
    min-width: 0;
}

.aside {
    width: 641px;
    min-width: 641px;
}