.filters {
    width: 100%;
    max-width: 360px;
}

.section {
    margin-bottom: 40px;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
        line-height: 150%;
        color: var(--gray);
        
}

.locationField {
    position: relative;
    height: 48px;
}

.locationIcon {
    position: absolute;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
    
        color: var(--gray);
        fill: currentColor;
        stroke: currentColor;
}

.locationInput {
    width: 100%;
    height: 48px;
    padding: 0 16px 0 48px;
    border: 0;
    border-radius: 12px;
    background: var(--inputs);
    outline: none;
line-height: 150%;
    font-size: 16px;
    color: var(--main);
}

.locationInput::placeholder {
    color: var(--gray);
}

.filled .locationIcon {
    color: var(--main);
}

.filled .locationInput {
    color: var(--main);
}

.filtersTitle {
    margin: 40px 0 32px;
    font-size: 16px;
    color: var(--text);
    font-weight: 500;
        line-height: 150%;
}

.sectionTitle {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
        line-height: 120%;
    color: var(--main);
}

.divider {
    height: 1px;
    background: var(--gray-light);
    margin-bottom: 24px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 112px);
    row-gap: 8px;
        column-gap: 12px;
}

.option {
    height: 96px;
    border-radius: 12px;
    border: 1px solid var(--gray-light);
    background: var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--main);
}

.option svg {
    width: 32px;
    height: 32px;
    color: var(--main);
}

.option span {
    font-size: 16px;
    font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.01em;
}

.active {
    border-color: var(--button);
}

.search {
    width: 166px;
    height: 56px;
    border: 0;
    border-radius: 200px;
    background: var(--button);
    color: var(--white);
    cursor: pointer;
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
    transition: background-color 200ms ease;
}

.search:hover {
    background: var(--button-hover);
}
.section:nth-of-type(2) {
    margin-bottom: 32px;
}