.loadMore {
    margin-top: 40px;
  width: 145px;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  background: var(--white);
  border: 1px solid var(--gray-light);
  color: var(--main);
  font-size: 16px;
  cursor: pointer;
  transition: border-color 180ms ease;
font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.01em;
}

.loadMore:hover,
.loadMore:focus-visible {
  border-color: var(--button-hover);
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.item {
    margin: 0;
}