.hero {
    height: 100%;
    background-image: linear-gradient(90deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.3) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0) 100%),
        url('/images/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.inner {
    padding-left: 64px;
    color: var(--inputs);
}

.title {
    font-size: 48px;
    font-weight: 600;
    line-height: 67%;
    margin-bottom: 16px;
}

.text {
    font-weight: 600;
        font-size: 24px;
        line-height: 133%;
        padding-bottom: 40px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 60px;
    background-color: var(--button);
    color: var(--white);
    border-radius: 200px;
    font-size: 16px;
    font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.01em;
        transition: background-color 200ms ease;
}
.button:hover {
    background: var(--button-hover);
}