.hero {
    min-height: calc(100vh - 96px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url('/images/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.content {
    color: #fff;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.text {
    font-size: 20px;
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    padding: 16px 40px;
    background-color: #e44848;
    color: #fff;
    border-radius: 200px;
    font-size: 16px;
}