/* ===== CSS Reset ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== Base styles ===== */
html,
body {
  height: 100%;
}
.title {
  font-weight: 600;
  /* Semi Bold */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #111111;
  line-height: 1.5;
}

/* ===== Links ===== */
a {
  text-decoration: none;
  color: inherit;
}

/* ===== Buttons ===== */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

/* ===== Images ===== */
img {
  max-width: 100%;
  display: block;
}

/* ===== Lists ===== */
ul,
ol {
  list-style: none;
}

/* ===== Container (для макету) ===== */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}