.page {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;

    display: grid;
    grid-template-columns: 360px 1fr;
    /* sidebar + content */
    gap: 64px;
    align-items: start;
}

.sidebar {
    width: 360px;
}

.content {
    width: 100%;
    min-width: 0;
    /* важливо, щоб контент не “виштовхував” грід */
}