.page {
    padding: 48px 0;
}

.container {
    width: 100%;
    padding: 0 64px;

    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 64px;
    align-items: start;
}

.sidebar {
    width: 360px;
}

.content {
    width: 100%;
    min-width: 0;
}