.page {
    padding: 48px 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;

    display: grid;
    grid-template-columns: 360px 888px;
    gap: 64px;
    align-items: start;
    justify-content: center;
}

.sidebar {
    width: 360px;
}

.content {
    width: 888px;
    min-width: 0;
}