.card {
    background: var(--inputs);
    border-radius: 10px;
    padding: 44px 52px;
}

.detailsTitle {
    margin: 100px 0 24px 0;
    color: var(--main);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    
}

.line {
    height: 1px;
    background: var(--gray-light);
    margin-bottom: 24px;
}

.details {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.detailsRow {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 24px;
}

.detailsKey {
    margin: 0;
    color: var(--main);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.detailsValue {
    margin: 0;
    color: var(--main);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}