.page {
    padding: 48px 0 60px 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
}

.title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--main);
    margin-bottom: 8px;
}

.price {
    font-size: 24px;
    font-weight: 600;
    line-height: 133%;
    color: var(--main);
    white-space: nowrap;
    margin: 0 0 28px 0;
}

.metaRow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.ratingWrap {
    display: inline-flex;
    align-items: center;
    gap: 0;
}

.star {
    width: 16px;
    height: 16px;
    color: var(--rating);
    fill: currentColor;
    stroke: currentColor;
    margin-right: 4px;
}

.rating {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--main);
}

.reviews {
    font-size: 16px;
    color: var(--main);
    margin-right: 16px;
    font-weight: 400;
    line-height: 150%;
}

.locationWrap {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.map {
    width: 16px;
    height: 16px;
    color: var(--main);
    fill: currentColor;
    stroke: currentColor;
}

.location {
    font-size: 16px;
    color: var(--main);
    font-weight: 400;
    line-height: 150%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
    margin-bottom: 28px;
}

.galleryItem {
    position: relative;
    width: 100%;
    height: 312px;
    border-radius: 10px;
    overflow: hidden;
    background: var(--inputs);
}

.galleryImg {
    object-fit: cover;
}

.description {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text);
}

/* ✅ КОЛОНКИ як у макеті (ліва 631px, права 448px) */
.columns {
    margin-top: 60px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    column-gap: 40px;
}

.leftCol {
    width: 631px;
    min-width: 631px;
}

.rightCol {
    width: 448px;
    flex: 0 0 448px;
}